header {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #ddd;

}

header ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}

header ul li {
    width: 100%;
    height: 100%;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header a {
    color: #333;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.tabActive a {
    color: #1182f3 !important;
    border-bottom: 1px solid #1182f3;
}

.userMsg {
    width: 100%;
    height: 4rem;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.userMsg>div {
    width: 100%;
    height: 99%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.userMsg >div div input {
    width: 100%;
    font-size: 1.2rem;
    color: #333;
    border: none;
}

.userMsg >div div span {
    font-size: .6rem;
    color: #999;
    padding-left: .2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .2rem;
}
.userMsg >div img{
    width: 1.5rem;
    height: 1.5rem;
}
.con{
    width: 100%;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.conTop{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: .8rem;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content li {
    width: 100%;
    margin-right: 1%;
    height: 80px;
    background: #f7f5f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: .5rem;

}
.content li:nth-child(4n){
    margin-right: 0;
}
.content li p{
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.content li p:nth-child(1){
    font-size: 0.8rem;
    color: #333;
}
.content li p:nth-child(2){
    font-size: .6rem;
    color: #999;
}

.liActive{
    background: #1182f3!important;
}
.liActive p:nth-child(1){
    color: #fff!important;
}
.liActive p:nth-child(2){
    color: #ddd!important;
}

.pay{
    width: 100%;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pay-top{
    width: 100%;
    margin-bottom: 30px;
    font-size: .8rem;
    margin-top: .5rem;
}
.pay-con{
    width: 100%;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
}
.pay-con li{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}
.pay-con li div{
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    color: #333;

}
.pay-con li div img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: .5rem;
    vertical-align: middle;
}
.pay-con li >img{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

.pay-btn{
    width: 85%;
    height: 60px;
    border-radius: 50px;
    background: #1182f3;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    border: none;
    box-shadow: 0 10px 10px #7a9bbc;
    outline: none;

}
.agreement{
    width: 100%;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: .6rem;
    color: #ddd;
    margin-top: 20px;
}
.agreement a{
    color: #7a9bbc;
}

.notice{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.notice>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.notice>div>div{
    padding: .5rem .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: .8rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.msg{
    width: 100%;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
    line-height: 18px;
}
.msg h4{
    width: 100%;
    font-size: .75rem;
    font-weight: normal;

}
.msg li{
    width: 100%;
    font-size: .6rem;
    color: #666;
    padding: 0 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.msg ul li:last-child{
    color: red;

}
.msg h4 img{
    vertical-align: middle;
    width: .9rem;
    height: .9rem;
}
.msg h4 img:last-child{
    float: right;
}

.details{
    background: #f4f4f4;
}
.details-top{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border-bottom: 4px solid #f2f2f2;*/
    color: #fff;
    /*background: #fff;*/
    margin-bottom: 20px;
    background: #25b9de;
}
.details-top img{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
.details-con{
    width: 100%;
    height: auto;
    padding: 20px .6rem 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f4f4f4;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.details-con >p,.details-con>div{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #fff;
    padding: 0 .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.details-con p:last-child{
    border: none;
}
.details-con p span:nth-child(1){
    /*width: 18%;*/
}
.details-con h3{

    font-size: .9rem;
    margin-bottom: 20px;
}
.details-footer{
    width: 100%;
    height: 2.475rem;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*z-index: 100;*/
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 50px;
}
.details-footer div{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: .8rem;
    background: #999;
    color: #fff;
    border-radius: 5px;
}
.details-footer div:last-child{
    background: #1182f3!important;
    margin-left: 5%;

}
.details-footer div:first-child{
    color: #fff;
}

.success{
    width: 100%;
    padding: 60px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.success img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 30px;
}
.success h3{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #b81718;
    text-align: center;
}
.success p:nth-child(3){
    width: 100%;
    margin-bottom: 20px;
    font-size: .7rem;
    color: #666;
    text-align: center;

}
.success p:nth-child(5){
    width: 100%;
    margin-top: 20px;
    font-size: .8rem;
    color: #333;
    text-align: center;
}
.success p:nth-child(5) span{
    color: #b81718;
}
.success h2{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    color: #000000;

}
.success button{
    border: none;
    width: 80%;
    height: 50px;
    display: block;
    margin: 60px auto 0;
    border-radius: 50px;
    background: #1182f3;
    color: #fff;
    text-align: center;
    line-height: 50px;
    outline: none;
    font-size: .8rem;
    box-shadow: 0 10px 10px #7a9bbc;

}