<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link th:href="@{/common/css/mui.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/active/taobao.css}" />
    <script th:src="@{/common/js/mui.min.js}"></script>
    <script type="text/javascript">
        mui.init()
    </script>
</head>
<body>
<!--顶部-->
<!--<header class="mui-bar mui-bar-nav header">-->
    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left return"></a>-->
    <!--<span class="mui-icon mui-icon-more icon"></span>-->
<!--</header>-->
<!--顶部结束-->

<!--福利一内容-->
<div class="mui-content content">
    <div class="mui-card">
        <div class="mui-card-content mui-card-media pic4" ></div>
    </div>
    <p class="good">福利一</p>
    <p class="step">淘宝新人首单0元购</p>
    <div class="div1 common">
        <p><span class="mui-badge mui-badge-warning">1</span> 下载并安装手机淘宝和支付宝</p>
        <p>下载方法：到应用商店搜索淘宝，支付宝进行下载</p>
    </div>
    <div class="div2 common">
        <p><span class="mui-badge mui-badge-danger">2</span> 注册手机淘宝</p>
        <p>打开手机淘宝，点击右下角“我的淘宝”，点击注册输 入手机号并接收验证码，同意规则并注册</p>
    </div>
    <div class="div1 common">
        <p><span class="mui-badge mui-badge-warning">3</span> 扫码领红包</p>
        <p>打开手机淘宝左上角“扫一扫”，跳转到领取红包界面，点击同意规则并领取，下拉会显示0元购商品</p>
    </div>
    <div class="div2 common">
        <p><span class="mui-badge mui-badge-danger">4</span> 挑选商品下单</p>
        <p>点击喜欢的产品，进入商品详情页，点击立即购买—设置收货地址—填写收货人信息—付款完成下单（红包抵扣后实际付款0元）</p>
    </div>
    <div class="mui-card card">
        <div class="mui-card-content mui-card-media pic2"></div>
    </div>

    <!--福利二内容-->
    <p class="good">福利二</p>
    <p class="step">支付宝领10元红包</p>
    <div class="div1 common">
        <p><span class="mui-badge mui-badge-warning">1</span> 打开支付宝，选择“淘宝账号快捷登录”</p>
        <p>已有支付宝的老用户需要卸载后，重新下载支付宝才会显示“淘宝账号快捷登录”界面</p>
    </div>
    <div class="div2 common">
        <p><span class="mui-badge mui-badge-danger">2</span> 领10元红包</p>
        <p>登录后点击首页中间新人红包，进入新人福利页，选择”一分钱充话费”完善身份信息，即可用0.01元来充10元话费（移动，联通，电信均可）</p>
    </div>
    <div class="mui-card card">
        <div class="mui-card-content mui-card-media pic3"></div>
    </div>
</div>
</body>
</html>